@import 'general_style';
@import 'config';
// Logo
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}
// Main Nav
#main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background: $dark-color;
  transition: all .6s ease-in;
  z-index: 2;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    width: 100%;
    max-width: $website-width;
    margin: 0 auto;
  }

  &.bg-inner {
    background: $bg-image no-repeat 20% 30% / cover;
    min-height: 5.5rem;
    border-bottom: 3px solid $main-color;
  }

  &.top {
    background: transparent;
    border: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    li {
      margin-left: 1.5rem;
      a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;
        &:hover {
          border-color: $medium-color;
        }
        &.current {
          border-color: $main-color;
        }
      }
    }
  }
}

// Header
#header {
  &-home {
    background: $bg-image no-repeat center right/cover;
    height: 100vh;
    width: 100vw;
    color: #fff;
    display: flex;
    // Header Content
    .header-content {
      text-align: center;
      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }
}

// Home Section

#home {
  &-specialize {
    .spacials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      .fas {
        color: $main-color;
        padding-bottom: 0.4rem;
      }
    }
  }
  &-stats {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li {
        line-height: 2;
        &.stats-title {
          font-size: 1.5rem;
        }
        &.number {
          font-size: 2rem;
          font-weight: bold;
        }
      }
      div {
        padding: 3rem;
        &:nth-child(odd) {
          background: $light-color;
        }
        &:nth-child(even) {
          background: $main-color;
        }
      }
    }
  }
  &-process {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;
      min-height: 50vh;

      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        transition: all 1s ease;
      }
      &-icon {
        border-radius: 50%;
        background: $dark-color;
        color:set-text-color($dark-color);
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 1s ease;
        &:hover {
          background: $main-color;
          width: 90px;
          height: 90px;
          line-height: 90px;
          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }
    }
  }
}

#main-footer {
  background: $dark-color;
  color: set-text-color($dark-color);
  height: 5rem;
  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    .social .fab{
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;
      &:hover {
        background: $main-color;
      }
    }
  }
}