* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.container  {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  flex-wrap: wrap;
}

.square {
  width: 16px;
  height: 16px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: all 2s ease;
}
.square:hover {
  transition-duration: 0s;
}

button {
  margin: 25px 0;
  padding: 15px;
  background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  border-radius: 25px;
  border: none;
  color: #fff;
  transition: all 0.4s ease;
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

button:hover {
  transform: scale(1.1);
}

form {
    width: 100%;
    max-width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

input {
  appearance: none;
  width: 100%;
  margin: 10px 0;
  background: none;
  outline: none;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  border-bottom: 1px solid #fff;
}

