.ActiveQuiz {
  padding: 20px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 0 10px;
  box-sizing: border-box;
}

.Question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Question > small {
  margin: 10px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}